
#app > div > div.menu-bot > div.header-menu > div > div.close-box > div > i{
font-size:24px;
color:white;
cursor:pointer
}
#app > div > div.menu-bot > div.main-menu > div > div > div.chatbox > div > p{
margin:0px !important;
  margin-bottom:5px !important;
}
#buttonz{
background: url('/static/sendmessage.svg');width: 20px;height: 20px;background-size: 100% 100%;border: none;cursor: pointer;
}
#image-big{
width: 45px; height: 45px;display: inline-block; margin-right: 10px;box-shadow: 0 0 7px 0 rgb(0 0 0 / 15%);padding: 3px; border-radius: 100%;overflow: hidden;
}
#font-big{
display: inline-block; margin-left: 8px;position: absolute;font-size: 19px;font-weight:600; color:white
}
#online{
display: block;font-size: 15px;font-weight: 500;color: rgb(155, 166, 179)
}
#header-bot{
padding: 15px 18px;
background-color: white; 
display: inline-block;
float: left;
margin-top: 5px;
position: relative;
z-index: -1;
right: -200px;
border-radius: 40px;
box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 1px 2px rgb(0 0 0 / 23%);
font-weight: 400;
border: none;
font-size: 14px;
cursor: pointer;
}
#button-bot{
background: url('/static/logobot.png');
background-size: 100% 100%;
cursor: pointer;
height: 58px;
width: 58px;
float: right;
display: inline-block;
}
.box-layout{
position: fixed;
display: inline-block;
z-index: 99;
cursor: pointer;
bottom: 20px;
right: 20px;
}
.wrapper{
width: 183px;
position: relative;
z-index: -1;
display: inline-block;
overflow: hidden;
right: -30px;
}

.menu-bot{
height: 80vh;
background-color: white;
width: 370px;
position: fixed;
right: 30px;
bottom: 100px;
z-index: 100;
border-radius: 20px;
top: 100px

}
.header-menu{
background-color: #005BA2;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
}
.main-menu{
background-color: rgb(234, 238, 243);
border:1px solid #ddd;
height:80%;
padding: 10px 20px;
}
.bot-small{
width: 20px;height: 20px;padding: 5px; border-radius: 100%;
background-color: white;
box-shadow: 0 3px 6px rgb(0 0 0 / 10%), 0 1px 2px rgb(0 0 0 / 10%);
}
.bot-chat{
display: flex;
padding: 5px
}
.chatbox{
margin-left: 10px;
line-height: 1.6;
font-size: 13px
}
.messagebox{
background-color: white;
padding: 15px;
border-radius: 10px;
border-top-left-radius: 0px
}
.button-option{
padding: 5px 14px;
border-radius: 16px;
border: solid 1px rgb(0, 108, 255);
background-color: white;
font-size: 11px;
font-weight: 600;
color: rgb(0, 108, 255);
margin: 6px;
cursor:pointer;
}
.footer-menu{
padding: 12px 20px;
order: 2;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;

}
#input-form{
display: flex;
}
.button-box{
margin-left: auto;

}
#inputbox{
min-width: 250px
}
#inputbox:focus{
outline: none
}
#inputbox::placeholder{
font-size: 13px;
font-weight: 400;
color:rgb(155, 166, 179);
letter-spacing: 1.2px;
}
.menu-bot{
z-index:9999;
display: none;
opacity: 0;
transform: translateY(100%);
}
.user-chat{
display: flex;
padding: 5px;
margin-top: 8px;
margin-left: auto;
}
.user-chat .avatar-bot{
float: right
}
.user-chat .chatbox .messagebox{
float: right;
margin-left: auto;
height: auto;
margin-right: 10px;
border-radius:13px;
border-top-right-radius: 0px;
word-wrap:break-word;
}
.main-menu{
overflow-y: auto;
}
.close-box{
  display: inline;
  position: absolute;
  right: 30px;
  top:20px
}
@media only screen and (max-width: 400px) {
.header-menu{
  border-top-right-radius:0px !important;
  border-top-left-radius:0px !important;
}
.main-menu{
  height:82%;
  border-radius:0px !important  
}
.footer-menu{
  border-radius: 0px !important
}
}
.menu-bot{
        top:0px;
        bottom:0px;
        right:0px;
        left:0px;
        width:100%;
        display: block;
        opacity: 1;
        transform: translate(0px, 0px);
    }
    .box-layout{
      display:none;
    }
    @media only screen and (max-width: 300px){
      .main-menu{
        height:70vh;
      }
    }
    @media only screen and (max-width: 400px){
      .main-menu{
        height:77vh
      }
    }
    
    @media only screen and (min-height: 500px){
      .main-menu{
        height:74vh
      }
    }
    @media only screen and (min-height: 600px){
      .main-menu{
        height:76vh
      }
    }
    @media only screen and (min-height: 700px){
      .main-menu{
        height:100%;
      }
    }
    @media only screen and (min-height: 800px){
      .main-menu{
        height:81vh;
      }
    }
     @media only screen and (min-width: 1000px){
      .main-menu{
        height:85vh;
      }
    }
    @media only screen and (min-height: 1100px){
      .main-menu{
        height:89vh;
      }
    }
  .alert-bot{
    margin-left:auto;
    margin-right:auto;
    width:300px;
    text-align:center;
    margin-top:80%;
    font-weight:200
  }
